.calculator {
  width: 400px;
  margin: 50px auto;
  background-color: hwb(239 17% 20% / 0.411);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.display {
  background-color: #1a1a1aa7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  text-align: right;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #4d4d4d;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #666;
}
